a {
    font-family: Verdana, sans;
    text-decoration: none;
    color: red;
}

div {
    font-family: "Times New Roman", serif;
}

div.blogHead {
    font-size: 250%;
}

div.blogSubhead {
    font-size: 150%;
}

div.blogArticleTitle {
    font-size: 150%;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

div.blogArticleAuthor {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.blogArticleTimestamp {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

div.blogArticleLead {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

div.blogArticleTimestampAuthor {
    text-align: center;
    font-size: 125%;
}

div.blogArticleIndexTitle {
    font-size: 150%;
    font-weight: bold;
    margin-top: 1em;
}

div.blogArticleIndexLead {
    margin-left: 3em;
    margin-right: 3em;
}

hr {
    color: black;
    background-color: black;
    height: 1;
    border: 0;
}

